:root {
  --main: #171D2F;
  --light-shades: #EEE8E5;
  --light-accent: #6F8094;
  --dark-shades: #141319;
  --dark-accent: #4474A1;
}

* {
  margin: 0;
  /* removes a lot of unnecessary padding and margins */
  padding: 0;
  scroll-margin-top: 75px;
  /* adds space when we click on the nav anchor links */
}

a, a:visited, a:hover, a:active {
  color: var(--light-shades);
  text-decoration: none;
  transition: ease-in-out 0.1s;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main);
  overflow: overlay
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--main);
  height: 75px;
  color: var(--light-shades);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  color: var(--light-shades);
  background-color: var(--main);
  height: 50px;
}

#footer-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 200px;
  margin-right: 200px;
}

.icon {
  width: 50px;
  color: white;
  fill: white;
}

footer div {
  font-weight: bolder;
}

h1 {
  width: 25%;
  text-align: center;
  color: var(--light-shades);
}

nav {
  width: 75%;
}

#main-section {
  background-color: var(--dark-shades);
}

#main-nav {
  list-style: none;
  display: flex;
}

#main-nav li {
  width: 25%;
}

#main-nav h2 {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#main-nav a {
  font-size: 25px;
  line-height: 25px;
}

#main-nav a:hover {
  line-height: 29px;
  font-size: 29px;
}

#portfolio-section, #about-section, #contact-section, #resume-section {
  padding: 10px 60px 10px 60px;
}

#portfolio-section h2, #about-section h2, #contact-section h2, #resume-section h2 {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 30px;
  color: var(--light-shades);
}

#about-section h2 {
  margin-top: 3vw;
}

h3 {
  text-align: center;
  font-size: 3vw;
  color: var(--main);
}

.spacer {
  height: 75px;
}

.project-box {
  width: 40vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 15px;
}

.proj-details {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  height: min-content;
}

.project-box:hover .proj-details {
  opacity: 1;
}

.link-details {
  display: flex;
  justify-content: space-around;
  color: var(--secondary);
}

.link-details a {
  text-align: center;
  font-size: 2vw;
  color: var(--main);
}

.link-details a:hover {
  color: var(--light-accent);
}

.project-box {
  transition: box-shadow ease-in-out 0.2s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.project-box:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
}

.active-tab {
  color: var(--light-accent) !important;
  line-height: 30px;
  font-size: 30px;
}

#project-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
}

#about-section {
  height: 740px;
}

#about-text {
  margin-top: 50px;
  color: var(--light-shades);
  font-size: 25px;
}

#about-picture {
  margin-top: 30px;
  width: 150px;
}

#contact-section {
  height: 500px;
}

#resume-section {
  height: 740px;
  display: flex;
  justify-content: space-around;
}

#resume-holder {
  width: 50%;
  height: 100%;
}

#resume-qual {
  width: 50%;
  height: 100%;
}

#resume-qual li {
  list-style-type: none;
}

#resume-qual h4 {
  font-size: 25px;
  font-weight: 400;
  color: var(--light-shades);
}

#resume-qual p {
  font-size: 21px;
  font-weight: 300;
  color: var(--light-accent);
}

#qual-info {
  margin-left: 20px;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
}

.qual-container {
  margin: 10px;
}

#resume-iframe {

}