:root {
  --main: #171D2F;
  --light-shades: #EEE8E5;
  --light-accent: #6F8094;
  --dark-shades: #141319;
  --dark-accent: #4474A1;
}

* {
  margin: 0;
  /* removes a lot of unnecessary padding and margins */
  padding: 0;
  scroll-margin-top: 75px;
  /* adds space when we click on the nav anchor links */
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--light-accent);
  top: -10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main);
  overflow: overlay
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--main);
  height: 75px;
  color: var(--light-shades);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  color: var(--light-shades);
  background-color: var(--main);
  height: 50px;
}

footer div {
  font-weight: bolder;
}

h1 {
  width: 25%;
  text-align: center;
  color: var(--light-shades);
}

nav {
  width: 75%;
}

#main-section {
  background-color: var(--light-shades);
}

#main-nav {
  list-style: none;
  display: flex;
}

#main-nav li {
  width: 25%;
}

#main-nav li h2 {
  text-align: center;
}

#portfolio-section, #about-section, #contact-section, #resume-section {
  padding: 10px 30px 10px 30px;
}

#portfolio-section h2, #about-section h2, #contact-section h2, #resume-section h2 {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 30px;
  color: var(--dark-shades);
}

h3 {
  text-align: center;
  font-size: 3vw;
  color: var(--main);
}

.spacer {
  height: 75px;
}

.project-box {
  width: 40vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 15px;
}

.proj-details {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  height: min-content;
}

.project-box:hover .proj-details {
  opacity: 1;
}

.link-details {
  display: flex;
  justify-content: space-around;
  color: var(--secondary);
}

.link-details a {
  text-align: center;
  font-size: 2vw;

}

.project-box {
  transition: box-shadow ease-in-out 0.2s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.project-box:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
}

.active-tab {
  text-decoration: underline;
}

#project-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
}

#about-section {
  height: 500px;
}

#contact-section {
  height: 500px;
}

#resume-section {
  height: 800px;
}

#resume-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#resume-iframe {
  margin-right: 60px;
  margin-left: 60px;
}